#calendarSearch .react-datepicker-wrapper{
    /* width: 450px; */

}

#calendarSearch .react-datepicker__input-container  {
    /* width: 450px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 1px #000; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.react-datepicker-popper{
    position:absolute;
    top:13.32rem;
}

.react-datepicker__input-container input {
    width: 30vw;
    height: 2.2vh;
    border-radius: .313rem;
    padding: .625rem;
    padding-left: 2.5rem;
    border-style: none;
    box-shadow: 0 0 .1rem #000;
    background-image: url("../img/iconCalendar.svg");
    background-repeat: no-repeat;
    background-position: .625rem .563rem;
    color: gray;
}

.react-datepicker__header {
    text-align: center;
    background-color: #FBC02D;
    border-bottom: .1rem solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding: .5rem 0;
    position: relative;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: #FBC02D;
    border-radius: 100%;
} 

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range) {
    background-color: rgba(255, 169, 10, 0.5);
}
 
/*------------Selected dates color---------------*/
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #FBC02D;
    color: white;
    font-weight: bold;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
    background-color: #FBC02D;
}

.react-datepicker__month--selected, .react-datepicker__month--in-selecting-range, .react-datepicker__month--in-range,
.react-datepicker__quarter--selected,
.react-datepicker__quarter--in-selecting-range,
.react-datepicker__quarter--in-range {
    border-radius: 0.3rem;
    background-color: #FBC02D;
    color: #fff;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    border-radius: 0.3rem;
    background-color: #FBC02D;
    color: #fff;
}
.react-datepicker__month-text.react-datepicker__month--selected:hover, .react-datepicker__month-text.react-datepicker__month--in-range:hover, .react-datepicker__month-text.react-datepicker__quarter--selected:hover, .react-datepicker__month-text.react-datepicker__quarter--in-range:hover,
.react-datepicker__quarter-text.react-datepicker__month--selected:hover,
.react-datepicker__quarter-text.react-datepicker__month--in-range:hover,
.react-datepicker__quarter-text.react-datepicker__quarter--selected:hover,
.react-datepicker__quarter-text.react-datepicker__quarter--in-range:hover {
    background-color: #FBC02D;
}
.react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: #FBC02D;
    color: #fff;
    border-radius: 100%;
}

/*------------Border radius dates------------------------*/
.react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: #e68200;
    color: #fff;
    border-radius: 100%;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
    background-color: #f0f0f0;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 1.875rem;
    z-index: 1;
    text-align: center;
    border-radius: 0.3rem;
    border: .1rem solid #aeaeae;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
    border: .1rem solid transparent;
    border-radius: 0.3rem;
    position: relative;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    border-radius: 100%;
    background-color: #FBC02D;
    color: #fff;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    border-radius: 100%;
    background-color: #FBC02D;
    color: #fff;
}

.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
    border-radius: 100%;
    background-color: #3dcc4a;
    color: #fff;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
    border-radius: 100%;
    background-color: #f0f0f0;
}

.react-datepicker__month--selected, .react-datepicker__month--in-selecting-range, .react-datepicker__month--in-range,
.react-datepicker__quarter--selected,
.react-datepicker__quarter--in-selecting-range,
.react-datepicker__quarter--in-range {
    border-radius: 100%;
    background-color: #FBC02D;
    color: #fff;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
    border-radius: 100%;
    background-color: #f0f0f0;
}

#calendarSearch .react-datepicker__time-container--with-today-button {
    display: inline;
    border: .1rem solid #aeaeae;
    border-radius: 100%;
    position: absolute;
    right: -4.5rem;
    top: 0;
  }

/*--White box calendar--*/
#calendarSearch .react-datepicker {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.7rem;
    background-color: #fff;
    color: #000;
    border: .1rem solid #aeaeae;
    border-radius: 0.3rem;
    padding: 0 1.875rem;
    position: relative;
}

/*--Arrow buttons--*/
#calendarSearch .react-datepicker__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7.5rem;
    background-color: #FBC02D;
    border-radius: 100%;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.25);
    margin-left: .8rem;
    margin-right: .8rem;
}
  
/*--Arrow button properties--*/
#calendarSearch .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
    border-color: #FFFF;
    border-style: solid;
    border-width: .19rem .19rem 0 0;
    content: "";
    display: block;
    height: .8rem;
    position: absolute;
    top: .4rem;
    width: .8rem;
}

/*---Responsive: Mobile ---*/
@media screen and (max-width: 550px){
    .react-datepicker-wrapper{
        width: 100vw;
    }

    .react-datepicker__input-container  {
        width: 100%;
    }

    .react-datepicker__input-container input {
        width: 80vw;
        height: 3vh;
        margin-bottom: 0.15em;
    }
}

/*--- Responsive: Tablet ---*/
@media screen and (min-width:551px) and (max-width: 1024px){
    .react-datepicker-wrapper{
        width: 32vw;
        height: 1.75rem;
    }

    .react-datepicker__input-container  {
        width: 100%;
        height: 100%;
    }

    .react-datepicker__input-container input {
        width: 100%;
        height: 100%;
        background-position: .625rem .7rem;
    }
}
  
