.galleryContainer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    position: relative;
    width: 100%;
}

.mainPhoto, .secondaryPictures{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    z-index: 800;
}

.mainPhoto{
    margin-left: 2.3rem;
}

.mainPhoto img, .secondaryPictures img{
    border-radius: .7rem;
    box-shadow: 0rem .3rem 0.25rem rgba(0, 0, 0, 0.1);
}

.mainPhoto img{
    height: 90%;
    width: 97%;
}

.secondaryPictures{
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 2.3rem;
}

.secondaryPictures img{
    height: 42.5%;
    width: 48%;   
}

.seeMore{
    bottom: 2rem;
    color: #FFFF;
    cursor: pointer;
    font-weight: 700;
    position: absolute;
    right: 4rem;
    text-decoration: underline;
    z-index: 900;
}

.mobile{
    display: none;
}
div.modalWindow img{
    border-radius: var(--bs-modal-border-radius) var(--bs-modal-border-radius) 0 0;
    height: 50vh;
}
.modalWindow .modalHeader{
    position: absolute;
    border-bottom: none;
}

.modalWindow .modalFooter{
    border-top: none;
}

.modalWindow .modalBody{
    padding: 0;
}
.modalWindow>div{
    width: 70vw;
}
@media screen and (max-width: 820px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        height: 50vh;
        margin-bottom: 2rem;
        width: 100%;
    }

    .item>div{
        bottom: .1rem;
        right: 1rem;
        left: auto;
    }

    .picture{
        height: 45vh;
    }

}
