.registerContainer{
    align-items: center;
    background-color: rgb(255, 251, 226, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.registerContainer h2{
    color: #FBC02D;
    height: 2.5rem;
    width: 30.8931vw;
}

.registerContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.registerContainer label, span {
    color: #383B58;
    font-size: 0.75rem;
    font-weight: 500;
    height: 1.375rem;
    text-align: left;
    width: 32.7965vw;
}

.registerContainer input{
    color: #383B58;
    background-color: #FFFFFF;
    border-radius: 0.3125rem;
    box-shadow: 0rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.15);
    border-style: none;
    height: 2.5rem;
    margin: 0 0 0.9375rem 0;
    padding: 0 0 0 0.8125rem;
    width: 32.7965vw;
}

.registerContainer .nameContainer div{
    display: flex;
    flex-direction: column;
    width: 15.0073vw;
}

.registerContainer .nameContainer input{
    width: 15.0073vw;
}

.registerContainer .nameContainer{
    display: flex;
    justify-content: space-between;
    width: 32.7965vw;
}

.registerContainer button{
    align-self: center;
    background-color: #FBC02D;
    border-radius: 0.3125rem;
    border-style: none;
    box-shadow: 0rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 700;
    height: 2.5rem;
    margin-top: 2.5rem;
    width: 15.9590vw
}

.registerContainer span{
    margin-top: 1.0625rem;
    text-align: center;
}

.registerContainer a{
    color: #4285F4;
    text-decoration: none;
}

.registerContainer div {
    position: relative;
}

.registerContainer .icon {
    color: #607D8B;
    bottom: 1.6rem;
    cursor: pointer;
    display: block;
    height: 1.169375rem;
    position: absolute;
    right: 1rem;
    width: 1.5rem;
}

@media screen and (max-width:550px) {
    .registerContainer .registerMobile{
        width: 72.4638vw;
    }

    .registerContainer .registerMobile div{
        width: 33.2319vw;
    }

    .registerContainer .registerMobile input{
        width: 100%;
    }

    .registerContainer .registerMobile label{
        width: 100%;
    }

}

@media screen and (max-width: 453px) {
    .registerContainer .registerMobile{
        width: 72.4638vw;
    }

    .registerContainer .nameContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 72.4638vw;
    }

    .registerContainer .nameContainer input{
        width: 72.4638vw;
    }
}
@media screen and (max-height: 668px) {
    .registerContainer{
        padding: 10vh 0 10vh 0;
    }
}

@media screen and (max-height: 567px){
    .registerContainer{
        padding: 42vh 0 42vh 0;
    }
}

