@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.searchbox{
    background-color: #607D8B; 
    width: 100%;
    color: #ffff;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbox h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.buttonSearch {
    width: 10vw;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: #FBC02D;
    box-shadow: 0 0 .1rem #000;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    margin-left: .5rem;
}

.buttonSearch:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #fcb400;
}

.calendar {
    height: 100%;
    width: 100%;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchContainer .icon {
    color: grey;
}

.searchContainer input{
    height: 2.5rem;
}

.formCities {
    font-family: 'Poppins', 'Font Awesome 5 Free';
    font-weight: 600;
    max-height: 100vh;
}

.searchContainer input {
    width: 30vw;
    background-color: white; 
    color: gray;   
}

.inputSearch {
    font-size: 14px;
    color: #7F7F7F;
    width: 30vw;
    height: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 0 .1rem #000;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: 2rem;
}

.inputSearch option {
    padding-top: 50px;
}

.selected {
    display: none;
    color: #FBC02D;
}

.formCities{
    position: relative;
}

.formCities select {
    background-image: url("../img/iconLocation.svg");
    background-repeat: no-repeat;
    background-position: .7rem .5rem;
}

.formCities select::-ms-expand{
    display: none;
}

.formCities .clearCityIcon{
    position: relative;
    color: #FBC02D;
    cursor: pointer;
    height: 1.2rem;
    right: 1.8rem;
    width: 1.2rem;
}

.searchbox .searchInfo{
    color: #FBC02D;
    align-items: center;
    display: flex;
    margin: .5rem 0 0 0;
}

.searchbox .searchInfo .infoIcon{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 .5rem 0 0;
}


/*--- Responsive: Mobile ---*/
@media screen and (min-device-width: 280px) and (max-device-width: 550px){
    .searchbox {
        padding-top: 7rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .searchbox h1 {
        font-size: 1.4rem;
        margin-bottom: 0.7rem;
        line-height: 1.4rem;
    }

    .searchContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 

    .inputSearch {
        width: 93vw;
        height: 2.5rem;
        margin-bottom: 4%;
    }

    .searchContainer input{
        width: 93vw;
        height: 2.5rem;
    }

    .buttonSearch{
        width: 93vw;
        height: 2.5rem;
        margin-top: 3%;
        margin-left: 0px;
        margin-bottom: .5rem;
    }

    .searchbox .searchInfo{
        flex-direction: column;
    }

    .searchbox .searchInfo .infoIcon{
        margin: 0 0 .5rem 0;
    }
} 

/*--- Responsive: Tablet Portrait---*/
@media screen and (min-width:551px) and (max-width: 768px){
    
    .searchbox h1 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
        line-height: 1.4rem;
    }
    
    .searchContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: .9rem;
    } 
    
    .inputSearch {
        width: 30vw;
        height: 2.5rem;
    }

    .searchContainer input{
        width: 30vw;
    }
    
    .buttonSearch{
        width: 20vw;
        height: 2.5rem;
    }
    .searchbox .searchInfo{
        flex-direction: column;
    }

    .searchbox .searchInfo .infoIcon{
        margin: 0 0 .5rem 0;
    }
}

/*--- Responsive: Tablet Landscape---*/
@media screen and (min-width:769px) and (max-width: 1024px){
    .searchbox {
        padding-top: 6rem;
        padding-bottom: 1.5rem;
    }
    
    .searchbox h1 {
        font-size: 1.4rem;
        margin-bottom: 0.7rem;
        line-height: 1.4rem;
    }
    
    .searchContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: .9rem;
    } 
    
    .inputSearch {
        width: 30vw;
        height: 2.5rem;
    }
    
    .searchContainer input{
        width: 30vw;
    }

    .buttonSearch{
        width: 20vw;
        height: 2.5rem;
    }

    .searchbox .searchInfo{
        flex-direction: column;
    }

    .searchbox .searchInfo .infoIcon{
        margin: 0 0 .5rem 0;
    }
}


